<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>

        <nav>
            <a href="#" class="nav__link">Operational  Flexibility</a>
            <a href="#" class="nav__link nav__link-active">Logistics Capabilities</a>
            <a href="#" class="nav__link">Operational  Insights</a>
        </nav>

        <!------>

        <section class="product">
            <div class="product__item product__item-highlight">
                <img src="https://cdn.pixabay.com/photo/2019/07/02/05/54/tool-4311573__480.png" alt="Logistics icon" class="product__item__image">
            <p class="product__item__text">Product <br> Flexibility
            <img src="https://cdn.pixabay.com/photo/2012/04/26/19/45/check-42926__480.png" alt="A green checkmark" class="product__item__checkmark">
                </p>
            <!---->
            </div>
            <div class="product__item">
            <img src="https://cdn.pixabay.com/photo/2019/07/03/05/58/envelope-4313721__480.png" alt="Logistics icon" class="product__item__image">
            <p class="product__item__text">Fast Fulfillment</p>
            </div>
            <!---->
            <div class="product__item">
            <img src="https://cdn.pixabay.com/photo/2019/07/02/05/56/rocket-4311575__480.png" alt="Logistics icon" class="product__item__image">
            <p class="product__item__text">Flexible Transport</p>
            </div>
        </section>

        <!------>

        <section class="text">
            <div class="text__item">
            <h1>Access Best-in-Class Logistics Capabilities</h1>
            </div>
            <div class="text__item">
            <p>Access best in class, enterprise-grade capabilities that allow you and your customers to get the most out of your supply chain.</p>
            </div>
        </section>

    </main>
</body>
</html>