<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="DriveAI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DriveAI</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap.min.css.map') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/home.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>DriveAI</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Beta verion 1.1</p>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/drivers">Drivers</a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/statistics">My Statistics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Register</a>
                            </li>
                            <li class="nav-item">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login">Log In</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="register-login-section spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="login-form">
                                <h2>Login</h2>
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}">
                                            {{ message }}
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                <form action="/login" method="post">
                                    <div class="group-input">
                                        <label for="email">Email address *</label>
                                        <input type="text" name="email" required>
                                    </div>
                                    <div class="group-input">
                                        <label for="password">Password *</label>
                                        <input type="password" name="password" required>
                                    </div>
                                    <div class="group-input gi-check">
                                        <div class="gi-more">
                                            <label for="save-pass">
                                                Save Password
                                                <input type="checkbox" id="save-pass" name="remember">
                                                <span class="checkmark"></span>
                                            </label>
                                            <a href="#" class="forget-pass">Forget your Password</a>
                                        </div>
                                    </div>
                                    <button type="submit" class="site-btn login-btn">Sign In</button>
                                </form>
                                <div class="switch-login">
                                    <a href="/register" class="or-login">Or Create An Account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>