<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="DriveAI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DriveAI</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap.min.css.map') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/home.css') }}" type="text/css">
     <link rel="stylesheet" href="{{ url_for('static', filename='/statistics.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>DriveAI</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Beta verion 1.1</p>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/drivers">Drivers</a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/statistics">My Statistics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Register</a>
                            </li>
                            <li class="nav-item">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login">Log In</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div style="display:inline-block;margin: 150 px;">
                <figure class="pie-chart">
                    <h2>Driver's mask and emotions</h2>
                    <figcaption>
                        with 240<span style="color:#9ecdff"></span><br>
                        without 120<span style="color:#ff7578"></span><br>
                    </figcaption>
                    <cite>DriveAI</cite>
                </figure>
            </div>
            <div style="display:inline-block;">
                <dl class="chart" style="--scale: 100;">
                    
                    <dt class="date">Angry</dt>
                    <dd class="bar" style="--start: 56;">
                        <span class="value">40</span>
                    </dd>

                    <dt class="date">Happy</dt> 
                    <dd class="bar" style="--start: 1;">
                        <span class="value">100</span> 
                    </dd>

                    <dt class="date">Fearful</dt> 
                    <dd class="bar" style="--start: 38;">
                        <span class="value">60</span> 
                    </dd>

                    <dt class="date">Disgusted</dt> 
                    <dd class="bar" style="--start: 90;">
                        <span class="value">10</span> 
                    </dd>

                    <dt class="date">Sad</dt> 
                    <dd class="bar" style="--start: 55;">
                        <span class="value">55</span> 
                    </dd>

                    <dt class="date">Neutral</dt> 
                    <dd class="bar" style="--start: 13;">
                        <span class="value">80</span> 
                    </dd>

                    <dt class="date">Surprised</dt> 
                    <dd class="bar" style="--start: 66;">
                        <span class="value">35</span> 
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</body>
</html>